{% if site.disqus_shortname %}
<script id="dsq-count-scr" src="//stuffziescom.disqus.com/count.js" async></script>
<div id="disqus_thread"></div>
<script>

{% if page.oldurl %}
  var disqus_config = function () {
  this.page.url = "http://stuffzies.com" + "{{page.oldurl}}";
  this.page.identifier = page_identifier || "{{page.oldurl}}";
  };
{% else %}
  var disqus_config = function () {
  this.page.url = "http://stuffzies.com" + "{{page.url}}";
  this.page.identifier = page_identifier || "{{page.url}}";
  };
{% endif %}

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//stuffziescom.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}
